#avatar {
    width: 50%;
}

.avatar {
    border-radius: 100%;
}

#footer {
	flex-wrap: nowrap;
    width: 100vw;
}

@media (min-height: 760px) {
    .main-content {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 450px;
        position: absolute;
    }
}
