body {
    margin: 40px auto;
    max-width: 700px;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
    padding: 0 10px;
    background-color: #EEEEEE;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Noto Serif', serif;
}

.subtitle {
    font-family: 'Noto Serif', serif;
    opacity: inherit;
}

p,
ul,
aside,
blockquote {
    font-family: 'Noto Sans', sans-serif;
}

p {
    text-align: justify;
}

a {
    color: blueviolet;
}

a:hover {
    color: darkmagenta;
}

a:visited {
    color: deeppink;
}