* {
    font-family: 'Roboto', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif !important;
}

.coop-header {
    background-color: #2C3E52;
    background-image: url(header.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.coop-title {
    max-width: 750px;
}

footer {
    background-color: #2C3E52;
}

.coop-content {
    background-color: white;
}

.text-separator {
    color: #87EBBE;
}

.navbar {
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .content-image {
        display: none;
    }
}
